$global: #323232; //black or graphite
$primary-accent: #afafaf; //silver
$secondary-accent: #e1e1e1; //mercury
$primary-light: #fafafa; //alabaster
$global-light: #fff; //white
$global-button: #0095ff;
$global-hover: #0065ad;
$accent-hover-transparent: #0065ad5b;
$comment-like: #745669;

// fonts
$fontstack: "AvenirNext LT Pro", Roboto;
