@import "../../partials/global";
@import "../../partials/mixins";
@import "../../partials/variables";

.header {
  @extend %wrapper;
  height: 16.9rem;
  border-bottom: 1px solid $secondary-accent;
  padding: 1.6rem;
  @include tablet {
    height: 8rem;
    padding: 0 2.4rem;
  }
  @include desktop {
    padding: 0 10rem;
  }
}
