@import "../../partials/global";
@import "../../partials/mixins";
@import "../../partials/variables";

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    flex-direction: row;
    align-items: center;
  }

  &__userimg {
    @extend %userimg;
  }

  &__logo {
    height: 2.8rem;
  }

  &__search {
    background: url("../../Assets/Icons/Icon-search.svg") no-repeat;
    padding: 1rem;
    width: 100%;
    line-height: 4rem;
    border-radius: 4px;
    border: 1px solid $secondary-accent;
    height: 4.8rem;
    background-position: left;
    background-origin: content-box;
    background-color: #e1e1e13f;
    text-indent: 2rem;
    @include tablet {
      width: 30%;
      line-height: 4.8rem;
      margin-left: auto;
      margin-right: 2.4rem;
    }
  }

  &__search:focus {
    border: 1px solid $global-button;
    outline: none;
  }

  &__btnimg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.8rem;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
    @include tablet {
      height: 100%;
      align-items: inherit;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__upload {
    margin-right: 1.6rem;
    width: 76%;
    @extend %button;
    height: 4.8rem;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      margin-right: 2.4rem;
    }
  }

  &__upload::before {
    content: url("../../Assets/Icons/Icon-upload.svg");
    padding-right: 1rem;
    vertical-align: middle;
  }

  &__upload:hover {
    background-color: $global-hover;
    transition: all 1s linear;
  }
}
