@import "../../../partials/global";
@import "../../../partials/mixins";
@import "../../../partials/variables";

.video {
  @extend %wrapper;
  @include tablet {
    width: 35rem;
    margin: 0;
  }
  @include desktop {
    width: 32rem;
    padding: 0;
  }

  &__section-title {
    @include subheader;
    color: $primary-accent;
    margin: 4rem 0;
    text-transform: uppercase;
    @include tablet {
      margin: 4rem 0;
    }
  }

  &__listitem {
    display: flex;
    margin: 2.4rem 0;
  }

  &__image {
    width: 12rem;
    height: 7rem;
    object-fit: cover;
    object-position: center;
    margin-right: 1.6rem;
  }

  &__imgblk {
    width: 12rem;
    height: 100%;
  }

  &__thumbnail {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__titlechan-block {
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: space-between;
  }

  &__title {
    @include para_comments;
    margin: 0;
    // padding-bottom: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-clamp: 2;
    @include tablet {
      padding-bottom: 1rem;
    }
  }

  &__channel {
    @include para_comments;
    font-weight: 300;
    @include tablet {
      font-size: 1.2rem;
    }
  }
}
