@import "../../partials/global";
@import "../../partials/mixins";
@import "../../partials/variables";

.header {
  @extend %wrapper;
  height: 16.9rem;
  @include tablet {
    height: 8rem;
    padding-top: 0;
    padding-bottom: 1.6rem;
  }
}
