@use '../../partials/global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.nav {
  display: flex;
  flex-direction: column;

  &__userimage-block {
    @extend %userimageblock;
    margin-left: 1.6rem;
  }

  &__userimg {
    @extend %userimg;
  }

  &__logo {
    height: 2.8rem;
  }

  &__search {
    width: 100%;
    line-height: 2rem;
  }
}
